{{#partial "navbar"}}
    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes/new">Create Your Own Hero</a></li>
    <li class="nav-item"><a class="nav-link" href="/squads/new">Create a New Squad</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes">All Heroes & Squads</a></li>
{{/partial}}

{{#partial "content"}}
    {{#if uniqueId}}
        <div id="returning-agent">
            <h2 class="text-center"><u> Yaaaay! Welcome back to LK Hero-hub, {{uniqueId}}</u></h2>

            <h4><b>Here's your profile:</b></h4>
            <div class="row">
                <div class="col-md-3"><p>Heroes Registered: {{totalHeroes}}</p></div>
                <div class="col-md-3"><p>Squads Available: {{totalSquads}}</p></div>
                <div class="col-md-3"><p>Herofull Squads: {{squadfullHeroes}}</p></div>
                <div class="col-md-3"><p>Squadless Heroes: {{squadlessHeroes}}</p></div>
            </div>

    {{else}}
        <div id="session-form">
            <h3 class="text-center">Welcome to LK hub.. And who you be?</h3>
            <form action="/success" method="post">
                <label for="uniqueId">Your Member Name</label>
                <input type="text" id="uniqueId" name="uniqueId" class="form-control"
                       placeholder="How do you want to be referred to as?">
                <button class="btn btn-outline-secondary">Save</button>
            </form>
        </div>
    {{/if}}

{{/partial}}

{{> layout.hbs}}